$color-titulos: #ea5932;
$color-iconos: #7e89a3;
$color-subtitulos: #383636;
$color-amar: #e99935;
$color-prim:#0f4857;
$color-sec:#009d3d;
$color-bla:#FFF;
$color-back: #90b0b6;
$color-ver:#7ac142;
$color-hed:#55abde;