$color-titulos: #222;
$color-titulo-h1: #222;
$color-iconos: #7e89a3;
$color-subtitulos: #383636;
$color-amar: #e99935;
$color-azul:#2a4d95;
$color-prim:#263840;
$color-sec:#627b86;
$color-ter: #afcfe6; /*#d8dfe2*/
$color-bla:#FFF;
/*$color-azul:#365caa;*/
$color-hed:#55abde;
$color-link:#365caa;
$txt-cla:#b2bec4;
$bg-gris:#9aa9b9;
$bg-claro:#f7f7f7;
$bg-call:#ec3e1c;
$bg-call-hov:#ec791c;