$color-titulos: #222;
$color-iconos: #7e89a3;
$color-subtitulos: #383636;
$color-amar: #e99935;
$color-azul:#2a4d95;
$color-prim:#30436b;
$color-sec:#627b86;
$color-ter: #afcfe6;
$color-bla:#FFF;
$color-hed:#55abde;
$color-link:#365caa;
$txt-osc:#263840;
$txt-cla:#b2bec4;
$bg-gris:#9aa9b9;
$bg-claro:#f7f7f7;
$bg-call:#ef6b23;
$bg-call-hov:#ec791c;

$bdr-dot: 1px dashed $txt-cla;