RewriteEngine on
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://accesoriosparabaterias.com/ [R=301,L]

RewriteEngine on
RewriteRule ^quienes-somos/$ /quienessomos.php [L]
RewriteRule ^productos/$ /productos.php [L]
RewriteRule ^contacto/$ /contactos.php [L]